nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: clamp(40px, 10vh, 20vh);
    margin: 20px;
    color: var(--txt-light);
    background: transparent;
    font-family: var(--font-fam);
    position: absolute;
    top: 0;
    z-index: 300;

    h1 {
        .i {
            display: none;
        }
    }

    ul {
        background: var(--nav-bg);
        display: flex;
        width: 30%;
        list-style: none;
        justify-content: space-evenly;
        align-items: center;
        height: clamp(20px, 9vh, 10vh);
        border-radius: 20px;
        color: var(--txt-accent);

        .a {
            &:nth-child(4) {
                display: none;
            }

            color: var(--txt-accent);

            li {
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    color: var(--txt-light) !important;
                }

                &.active {
                    color: var(--txt-light);
                    font-weight: 800;
                }
            }
        }


    }
}

@media (max-width:600px) {
    nav {
        flex-direction: column;
        align-items: center;
        width: 100vw !important;
        margin: 0;
        padding-block: 20px;
        display: flex;
        background: var(--nav-bg);

        h4 {
            margin-bottom: 2rem;
            margin-top: 1dvb;
            display: none;

            &.mobile {
                display: flex;
            }
        }

        h1 {
            display: flex;
            width: 100%;
            justify-content: space-around;

            .i {
                display: block;
            }
        }

        ul {
            display: none;
            flex-direction: column;
            width: 100%;
            min-height: clamp(40px, 25vh, 600px);
            .a {
                &:nth-child(4) {
                    display: flex !important;
                }
            }
            &.mobile {
                display: flex;
            }
        }
    }
}