* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--main-bg);
  color: var(--txt-light);
  overflow-x: hidden;
}

/* shared styles */
.a {
  color: var(--txt-light);
  text-decoration: none;
  cursor: pointer;
}
.cta{
  border: none;
  padding: 10px 15px;
  background: var(--cta-bg);
  color: white;
  cursor: pointer;
}
.noise{
  position: relative;
  width: 100%;
  height: 100%;
  /* z-index: 100; */
  &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        /* background: url('https://images.pexels.com/photos/978487/pexels-photo-978487.jpeg'); */
        background: url('https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg');
        pointer-events: none;
        opacity: .13;
        background-size: cover;
        z-index: -100;
    }
}
.noise2{
  position: relative;
  width: 100%;
  height: 100%;
  &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        /* background: url('https://images.pexels.com/photos/978487/pexels-photo-978487.jpeg'); */
        background: url("https://images.pexels.com/photos/1083822/pexels-photo-1083822.jpeg");
        pointer-events: none;
        opacity: .1;
        background-size: cover;
    }
}

/* variables */
:root {
  --txt-dark: rgb(32, 31, 31);
  --txt-light: rgb(221, 220, 220);
  --nav-bg: #151F21;
  --main-bg: #0B161A;
  --main-bg-light: #151F21;
  --cta-bg: #D98441;
  --txt-accent: #C8907F;
  --font-fam: "exbed";
}


/* 
update
git add .
git commit -m "update"
git push
*/